/* base set */
html {
    font-size: 100px;
}

* {
    margin: 0;
    padding: 0;
    line-height: 100%;
}

body, input, textarea, select {
    font-family: 'microsoft yahei', Verdana, Arial, Helvetica, sans-serif;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, pre, form, fieldset, input, textarea, blockquote, p, header, footer, nav, section, article, aside, video {
    padding: 0px;
    margin: 0px;
    tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
}

table, td, tr, th {
    font-size: 12px;
}

table {
    margin: 0px auto;
}

img {
    vertical-align: top;
    border: 0px;
}

ol, ul {
    list-style: none;
}

li {
    list-style-type: none;
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 12px;
    font-weight: normal;
}

address, caption, cite, code, dfn, em, i, b {
    font-weight: normal;
    font-style: normal;
}

a {
    -webkit-appearance: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    text-decoration: none;
}

    a:hover {
        text-decoration: none;
    }

img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

input, textarea, select {
    outline: none;
    resize: none;
    border: 0;
}

.clearfix:after {
    content: '';
    clear: both;
    display: block;
    line-height: 0px;
    font-size: 0px;
    height: 0px;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

.clear {
    clear: both;
    display: block;
    line-height: 0px;
    font-size: 0px;
    height: 0px;
    visibility: hidden;
}

/* font size*/
.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f18 {
    font-size: 18px;
}

/* text align */
.tl {
    text-align: left;
}

.tr {
    text-align: right;
}

.tc {
    text-align: center;
}
/* float */
.fl {
    float: left;
}

.fr {
    float: right;
}

/* position */
.pos-r {
    position: relative;
}

.pos-f {
    position: fixed;
}

/* padding */
.pb-55 {
    padding-bottom: 0.55rem;
}



/*tostÐ§¹û*/
#toastMessage {
    top: 50%;
    width: auto;
    height: 35px;
    min-width: 135px;
    position: fixed;
    z-index: 9999;
}

    #toastMessage span {
        display: block;
        overflow: hidden;
    }

    #toastMessage .sbg {
        background: #000;
        color: #fff;
        opacity: .8;
        z-index: 1;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    #toastMessage .stxt {
        padding: 0.08rem 0.15rem 0.11rem;
        font-size: 0.14rem;
        line-height: 35px;
        z-index: 2;
        color: #fff;
        text-align: center;
        position: relative;
    }

#mask {
    background: #000;
    opacity: .4;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: none;
}

.fbox {
    background: #f4f4f4;
    opacity: .97;
    margin: 0 7%;
    width: 86%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    position: fixed;
    top: 35%;
    left: 50%;
    z-index: 1002;
    margin-left: -43%;
    overflow: hidden;
    height: 117px;
}

    .fbox .sc {
        text-align: center;
        padding: 26px 15px 14px;
        font-size: 15px;
        line-height: 22px;
        min-height: 30px;
        color: #333;
        overflow: hidden;
    }

        .fbox .sc span {
            display: block;
        }

        .fbox .sc h2 {
            font-size: 16px;
            font-weight: bold;
            width: 100%;
            padding: 0 0 3px;
        }

    .fbox .btns {
        border-top: 1px solid #aaa;
        font-size: 18px;
        display: -webkit-box;
    }

        .fbox .btns a {
            display: block;
            -webkit-box-flex: 1;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            color: #157efb;
            height: 46px;
            line-height: 46px;
            text-align: center;
        }

        .fbox .btns .ok {
            border-left: 1px solid #aaa;
        }

        .fbox .btns .ok2 {
            width: 100%;
        }

.pop_tipWrap {
    position: fixed;
    width: 100%;
    left: 0;
    top: 49%;
    z-index: 999;
    text-align: center;
}

.pop_tip {
    display: inline-block;
    margin: 0 auto;
    padding: .4rem 1rem;
    border-radius: .2rem;
    background: rgba(0,0,0,0.8);
    font-size: 1.4rem;
    color: #FFF;
}
/*end*/
.mobile-yanzm, .d_get_code {
    width: auto;
    min-width: 75px;
    height: 34px;
    line-height: 34px;
    padding: 0;
    margin: 0;
    text-align: center;
    color: #fff;
    background: #dc0f50;
    border-radius: 5px;
    border: none;
    position: absolute;
    right: 145px;
    top: 10px;
    outline: none;
}

    .mobile-yanzm.curr, .d_get_code.curr {
        background: #999999;
    }
